{{- range .images }}
---
name: "Detect breaking {{ .name }} version"
pipelineid: "breaking-images"

scms:
  fleet:
    kind: github
    spec:
      owner: {{ $.github.owner }}
      repository: {{ $.github.repository }}
      branch: main
      user: updatecli-bot
      email: updatecli@users.noreply.github.com

sources:
  tag:
    kind: dockerimage
    spec:
      image: {{ .image }}
      {{- if .tagfilter }}
      tagfilter: '{{ .tagfilter }}'
      {{- end }}
      versionfilter:
        kind: semver
        pattern: "{{ .breaking }}"

targets:
  {{- range .tenants }}
  {{ .name }}-tag:
    name: "Update {{ .key }} tag in {{ .name }} versions"
    kind: yaml
    scmid: fleet
    sourceid: tag
    spec:
      file: tenants/{{ .name }}/versions.yaml
      key: "$.spec.inputs[0].{{ .key }}.tag"
  {{- end }}

actions:
  default:
    kind: github/pullrequest
    scmid: fleet
    title: 'chore(deps): breaking {{ .name }} version update available'
    spec:
      automerge: false
      labels:
        - dependencies
        - breaking-change
{{- end }}
