---
name: "Detect breaking container image versions"

scms:
  fleet:
    kind: github
    spec:
      owner: {{ .github.owner }}
      repository: {{ .github.repository }}
      branch: main
      user: updatecli-bot
      email: updatecli@users.noreply.github.com
      token: '{{ requiredEnv "GITHUB_TOKEN" }}'

sources:
  {{- range .images }}
  {{ .name }}-tag:
    kind: dockerimage
    spec:
      image: {{ .image }}
      {{- if .tagfilter }}
      tagfilter: '{{ .tagfilter }}'
      {{- end }}
      versionfilter:
        kind: semver
        pattern: "{{ .breaking }}"
  {{- if .needs_digest }}
  {{ .name }}-digest:
    kind: dockerdigest
    spec:
      image: {{ .image }}
      tag: '{{"{{"}} source "{{ .name }}-tag" {{"}}"}}'
    dependson:
      - {{ .name }}-tag
  {{- end }}
  {{- end }}

targets:
  {{- range .images }}
  {{- $img := . }}
  {{- range .tenants }}
  {{ .name }}-{{ $img.name }}-tag:
    kind: yaml
    scmid: fleet
    sourceid: {{ $img.name }}-tag
    spec:
      file: tenants/{{ .name }}/versions.yaml
      key: "$.spec.inputs[0].{{ .key }}.tag"
  {{- if $img.needs_digest }}
  {{ .name }}-{{ $img.name }}-digest:
    kind: yaml
    scmid: fleet
    sourceid: {{ $img.name }}-digest
    spec:
      file: tenants/{{ .name }}/versions.yaml
      key: "$.spec.inputs[0].{{ .key }}.digest"
  {{- end }}
  {{- end }}
  {{- end }}

actions:
  default:
    kind: github/pullrequest
    scmid: fleet
    title: 'chore(deps): breaking version update available'
    spec:
      automerge: false
      labels:
        - dependencies
        - breaking-change
